.DS_Store
Thumbs.db

*.bak
*.log
*.pid
*.swp
*.swo
*.tmp

.env
.env.*
!.env.example

db/*
!db/.gitkeep

www/phpbb/cache/*
!www/phpbb/cache/index.html

www/phpbb/files/*
!www/phpbb/files/index.html

www/phpbb/store/*
!www/phpbb/store/index.html

www/phpbb/images/avatars/upload/*
!www/phpbb/images/avatars/upload/index.html

www/phpbb/config.php
