@import url("../../prosilver/theme/stylesheet.css");

/* Ochre accent overrides */
a,
a:link,
a:visited {
  color: #7a4f00;
}

a:hover,
a:active,
a:focus {
  color: #a46a00;
}

.headerbar {
  background-color: #d8b36a;
  background-image: linear-gradient(#e7c47a, #caa04d);
}

.navbar {
  background-color: #f2e5c8;
}

.navbar a,
.navbar a:link,
.navbar a:visited {
  color: #5f3f00;
}

.forabg,
.forumbg {
  border-color: #d9c49e;
}

.forabg .header,
.forumbg .header {
  background-color: #e7d2a9;
}

.panel,
.post {
  border-color: #d9c49e;
}

.button,
.button1,
.button2 {
  background-color: #c9922a;
  border-color: #a77217;
  color: #ffffff;
}

.button:hover,
.button1:hover,
.button2:hover {
  background-color: #b77f1e;
  border-color: #8f6313;
}

.pagination .active span,
.pagination .active a {
  background-color: #c9922a;
  border-color: #a77217;
  color: #ffffff;
}

.pagination a:hover,
.pagination span:hover {
  border-color: #b77f1e;
}

table.table1 thead th {
  color: #5f4300;
}

.dropdown .dropdown-contents {
  border-color: #d9c49e;
}

/* Replace default blue palette from prosilver */
html, body {
  color: #4a3920;
  background-color: #f3ead7;
}

h2 {
  color: #5a4020;
}

h3 {
  border-bottom-color: #d9c49e;
  color: #7a4f00;
}

.forumbg .header a:hover,
.forabg .header a:hover,
th a:hover {
  color: #f9edd2;
}

.postlink {
  border-bottom-color: #c9922a;
  color: #a46a00;
}

.postlink:visited {
  border-bottom-color: #b9831f;
  color: #8b5b00;
}

.postlink:hover {
  background-color: #f6e9cc;
  color: #7a4f00;
}

.wrap {
  background-color: #ffffff;
  border-color: #e4d2b0;
}

.headerbar,
.forumbg,
.forabg {
  background-image: linear-gradient(to bottom, #efd49a 0%, #d3a455 100%);
}

.navbar {
  background-color: #efe0c3;
}

.panel {
  background-color: #fbf6ea;
  color: #3a2a14;
}

.bg1 {
  background-color: #f7efe0;
}

.bg2 {
  background-color: #f1e6d0;
}

.bg3 {
  background-color: #e6d3b0;
}

table.zebra-list tr:nth-child(odd) td,
ul.zebra-list li:nth-child(odd) {
  background-color: #f7efe0;
}

table.zebra-list tr:nth-child(even) td,
ul.zebra-list li:nth-child(even) {
  background-color: #f1e6d0;
}
