@import url("../../prosilver/theme/stylesheet.css");

/* Black + orange palette */
html, body {
  color: #e6e6e6;
  background-color: #000000;
}

a,
a:link,
a:visited {
  color: #FF8000;
}

a:hover,
a:active,
a:focus {
  color: #E88203;
}

.wrap {
  background-color: #000000;
  border-color: #2b2b2b;
}

.headerbar,
.forumbg,
.forabg {
  background-image: linear-gradient(to bottom, #2d2d2d 0%, #111111 100%);
}

.navbar {
  background-color: #111111;
}

.forabg .header,
.forumbg .header {
  background-color: #2d2d2d;
}

.panel {
  background-color: #111111;
  color: #e6e6e6;
  border-color: #2b2b2b;
}

.bg1 {
  background-color: #1b1b1b;
}

.bg2 {
  background-color: #2d2d2d;
}

.bg3 {
  background-color: #1f1f1f;
}

table.zebra-list tr:nth-child(odd) td,
ul.zebra-list li:nth-child(odd) {
  background-color: #1b1b1b;
}

table.zebra-list tr:nth-child(even) td,
ul.zebra-list li:nth-child(even) {
  background-color: #2d2d2d;
}

.button,
.button1,
.button2 {
  background-color: #b16d26;
  border-color: #8c541d;
  color: #0b0b0b;
}

.button:hover,
.button1:hover,
.button2:hover {
  background-color: #E88203;
  border-color: #b46612;
}

.pagination .active span,
.pagination .active a {
  background-color: #b16d26;
  border-color: #8c541d;
  color: #0b0b0b;
}

.postlink {
  border-bottom-color: #FF8000;
  color: #FF8000;
}

.postlink:visited {
  border-bottom-color: #E88203;
  color: #E88203;
}

.postlink:hover {
  background-color: #2b1a0a;
  color: #ffb980;
}

.topiclist .header dd,
.topiclist .header dt {
  color: #FF8000;
}

.dropdown .dropdown-contents {
  border-color: #2b2b2b;
}
